---

- name: install intel drivers
  ansible.builtin.apt:
    state: present
    name:
      - intel-gpu-tools
      - intel-media-va-driver-non-free
      - vainfo
  when:
    - ansible_architecture == 'x86_64'
    - ansible_lsb.id != 'Raspbian' and ansible_lsb.id != 'Debian'

- name: check nvidia gpu is present
  ansible.builtin.shell: lspci -mm | grep NVIDIA
  register: nvidia_present
  failed_when: false
  changed_when: false
  when:
    - ansible_architecture == 'x86_64'

- name: install nvtop
  ansible.builtin.apt:
    state: present
    name:
      - nvtop
  when:
    - nvidia_present.rc == 0
    - ansible_architecture == 'x86_64'
    - ansible_lsb.id != 'Raspbian' and ansible_lsb.id != 'Debian'

- name: install nvidia drivers
  ansible.builtin.command: ubuntu-drivers install --gpgpu
  changed_when: false
  when:
    - nvidia_present.rc == 0
    - ansible_architecture == 'x86_64'
    - ansible_lsb.id != 'Raspbian' and ansible_lsb.id != 'Debian'

- name: check bcmstat.sh is installed
  ansible.builtin.command: which bcmstat.sh
  register: bcmstat_installed
  failed_when: false
  changed_when: false
  when:
    - ansible_architecture != 'x86_64'

- name: install bcmstat.sh
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/MilhouseVH/bcmstat/master/bcmstat.sh
    dest: /usr/local/bin
    mode: "0755"
    owner: root
    group: root
  when:
    - ansible_architecture != 'x86_64'
    - bcmstat_installed.rc != 0
