---

- name: purge unwanted packages
  ansible.builtin.apt:
    state: absent
    purge: true
    name:
      - snapd
      - apport
      - openresolv
      - dhcpcd5
      - avahi-daemon
      - multipath-tools
      - popularity-contest
  notify:
    - autoremove

# DISCLAIMER: fuck. off. micro$oft.
- name: remove vscode repo
  ansible.builtin.copy:
    content: ""
    dest: "{{ item }}"
    mode: "0644"
    attr: +i
  loop:
    - /etc/apt/sources.list.d/vscode.list
    - /etc/apt/trusted.gpg.d/microsoft.gpg
  when:
    - ansible_lsb.id == 'Raspbian' or ansible_lsb.id == 'Debian'

- name: install toolkit
  ansible.builtin.import_tasks: toolkit.yml
